.layout-container {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: 80px auto;
  grid-template-areas:
    "topbar topbar"
    "sidebar content";

  background-color: #f3f3f3;

  .layout-content {
    grid-area: content;
    padding: 32px 0px 100px;
    margin: 0 auto;
  }
}


